/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #18181b;
  color: #991F36;
  font-family: Times New Roman;
  font-size: 18px;
}
blockquote {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}
ul {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}
p {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}
a {
  color: #991F36;
  text-decoration: none;
  border-bottom: 1px solid #991F36;
}
a:hover {
  background-color: #991F36;
  color: #000;
}
li {
  color: #991F36;
  text-decoration: none;
  border-bottom: 1px solid #991F36;
}
li:hover {
  background-color: #991F36;
  color: #000;
}
h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

form {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}
.highlight {
    background-color: #991F36;
    color: #18181b;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
}

input[type="checkbox"] + a {
  font-size: 16px;
}

input[type="checkbox"] + a:before {
  content: "[";
}

input[type="checkbox"] + a:after {
  content: "]";
}

font-size: 18px;
  text-align: center;
  margin-top: 50px;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #18181b;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Times New Roman;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.win{
  background: #991F36;
  border: none;
  z-index: 1;
}
.win:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #18181b;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.win:hover {
  color: #991F36;
}
.win:hover:after {
  left: 0;
  width: 100%;
}
.win:active {
  top: 2px;
}
li:hover {
cursor: pointer;
}
