/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #0f0;
  font-family: Ink Free;
  font-size: 18px;
}
.highlight{
    background-color: yellow;
    color: #000;
}

a {
  color: #0f0;
  text-decoration: none;
  border-bottom: 1px solid #0f0;
}

a:hover {
  background-color: #0f0;
  color: #000;
}

blockquote {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}
form {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
}

input[type="checkbox"] + a {
  font-size: 16px;
}

input[type="checkbox"] + a:before {
  content: "[";
}

input[type="checkbox"] + a:after {
  content: "]";
}
p {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

/* specific styles */
input[name="browser"] + a:before {
  content: "<";
}

input[name="browser"] + a:after {
  content: ">";
}

input[name="dm"] + a:before {
  content: "(";
}

input[name="dm"] + a:after {
  content: ")";
}

input[name="rac"] + a:before {
  content: "{";
}

input[name="rac"] + a:after {
  content: "}";
}

input[name="enc"] + a:before {
  content: "|";
}

input[name="enc"] + a:after {
  content: "|";
}

input[name="pm"] + a:before {
  content: "!";
}

input[name="pm"] + a:after {
  content: "!";
}

input[name="mail"] + a:before {
  content: "?";
}

input[name="mail"] + a:after {
  content: "?";
}

input[name="office"] + a:before {
  content: "#";
}

input[name="office"] + a:after {
  content: "#";
}

input[name="messaging"] + a:before {
  content: "&";
}

input[name="messaging"] + a:after {
  content: "&";
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: monospace;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}



/* 15 */
.btn-15 {
  background: #0f0;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #000;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #0f0;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
